<div class="signup-signin">
  <div class="card">
      <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, :class => "box" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "box" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br /><br>
        <%= f.password_field :password, autocomplete: "new-password", :class => "box" %>
      </div> 

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "box" %>
      </div>

      <% if params[:job_category] %>
        <%= f.hidden_field :job_category, value: params[:job_category] %>
      <% end %>

      <% if params[:become_tradie] %>
        <%= f.hidden_field :become_tradie, value: params[:become_tradie] %>
      <% end %><br>

      <div class="button">
        <%= f.submit "Sign up", :class => "inner-button" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  
  </div>
</div>

