<h1>Thank you for accepting the job</h1>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @job.price %>
</p>

<% if !@job.images.empty?  %>
  <% (0...@job.images.count).each do |image| %>
    <%= image_tag @job.images[image], width:'300'%>
  <% end %>
<% end %>

<p>
  <strong>Creator:</strong>
  <a href="../user_profiles/<%=@job.users.first.user_profile.id%>">
    <%= @job.users.first.username %>
  </a>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Tenant available time:</strong>
  <%= @job.tenant_available_time %>
</p>

<%= link_to 'My Jobs', "/user_profiles/#{current_user.user_profile.id}/my_jobs"  %>