<p id="notice"><%= notice %></p>

<h2>Search by category for job</h2>
<%= form_tag jobs_path, method: :get do %>
<%= collection_select(:job, :category_id, JobCategory.all, :id, :category, :prompt => true) %>  
<%= submit_tag "Search" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Job Title</th>
      <th>Creator</th>
      <th>Description</th>
      <th>Tenant's available time</th>
      <th>Job Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td>
          <a href="user_profiles/<%=job.users.first.user_profile.id%>">
            <%= job.users.first.username %>
          </a>
        </td>
        <td><%= job.description %></td>
        <td><%= job.tenant_available_time %></td>
        <td><%= job.job_status.status.capitalize %></td>
        <td><%= link_to 'Preview', job %></td>
        <% if !current_user.nil? && current_user.id == job.users.first.id %>
          <td><%= link_to 'Edit Job', edit_job_path(job) %></td>
          <td><%= link_to 'Delete Job', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
