<div class="index">

  <div class="search">
    <%= form_tag jobs_path, method: :get do %>
    <div class="field">
      <%= label_tag :category %><br>
      <%= collection_select(:job, :category_id, JobCategory.all, :id, :category, {:prompt => true}, {:class=>"box category"}) %> 
    </div>
    <div class="field">
      <%= label_tag :postcode %> <br>
      <%= text_field_tag :postcode, value = nil, options = {class: "box postcode"} %>
    </div>
      <%= submit_tag "Search" %>
      <%= link_to "Clear", jobs_path %>
    <% end %>
    <%# search result message %>
    <p><%= @message %></p>
  </div>

  <% @jobs.each do |job| %>
    <div class="card">
      <div class="picture">
        <% if job.users.first.user_profile.image.attached? %>
          <%= image_tag job.users.first.user_profile.image, :class => "profile"%>
        <% else %>
          <%= image_tag "https://api.adorable.io/avatars/200/#{job.users.first.username}", :class => "profile"%>
        <% end%>
        <a href="user_profiles/<%=job.users.first.user_profile.id%>">
             Job by <%= job.users.first.username %>
           </a>
      </div>
      <div class="job">
        <p>Category: <%= job.job_category.category %></p>
        <p>Location: <%= job.city %>, <%= job.postcode %></p>
        <p>Price: <%= number_to_currency(job.price/100.0) %></p>
        <p>Time: <%= job.tenant_available_time %></p>
        <p>Title: <%= job.title %></p>
      </div>
          <%# links %>
      <div class="links">
        <button>
          <p><%= link_to 'Check Details', job %></p>
        </button>
        <% if !current_user.nil? && current_user.id == job.users.first.id %>
          <button>
            <p><%= link_to 'Edit', edit_job_path(job) %></p>
          </button>
          <button>
            <p><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </button>
        <% end %>
      </div>
    </div>
  <% end %>

<div>
