<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<%= image_tag @job.image, width:'300'%>
<p>
  <strong>Creator:</strong>
  <a href="../user_profiles/<%=@job.users.first.user_profile.id%>">
    <%= @job.users.first.username %>
  </a>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Tenant available time:</strong>
  <%= @job.tenant_available_time %>
</p>

<% if current_user.id == @job.users.first.id %>
  <%= link_to 'Edit', edit_job_path(@job) %> |
<% end %>
<%= link_to 'Back', jobs_path %>
