<p id="notice"><%= notice %></p>

<h2><%= @message %> </h2>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @job.price %>
</p>

<% if !@job.images.empty?  %>
  <% (0...@job.images.count).each do |image| %>
    <%= image_tag @job.images[image], width:'300'%>
  <% end %>
<% end %>

<p>
  <strong>Creator:</strong>
  <a href="../user_profiles/<%=@job.users.first.user_profile.id%>">
    <%= @job.users.first.username %>
  </a>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Tenant available time:</strong>
  <%= @job.tenant_available_time %>
</p>

<% if @is_current_users_job %>
  <%= link_to 'Edit', edit_job_path(@job) %> 
  <%= link_to 'Delete Job', @job, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% if !@is_current_users_job && @job.users.count.to_i < 2%>
  <%= link_to 'Accept Job', jobs_accept_path %>
  <%= link_to 'Job completed', jobs_completed_path(@job.id) %>
<% end %>




