<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @job.price %>
</p>

<% if @job.image.attachment %>
    <%= image_tag @job.image, width:'300'%>
<% end %>

<p>
  <strong>Creator:</strong>
  <a href="../user_profiles/<%=@job.users.first.user_profile.id%>">
    <%= @job.users.first.username %>
  </a>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Tenant available time:</strong>
  <%= @job.tenant_available_time %>
</p>

<%= form_tag charges_path do %>
<%= hidden_field_tag(:job_id, @job.id) %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="<%= @job.price %>"
          data-currency="aud"
          data-locale="auto"></script>
<% end %>

<% if current_user.id == @job.users.first.id %>
  <%= link_to 'Edit', edit_job_path(@job) %> |
<% end %>

<% if current_user.id != @job.users.first.id && @job.users.count.to_i < 2%>
  <%= link_to 'Accept Job', jobs_accept_path %>
<% end %>
<%= link_to 'Back', jobs_path %>
