<nav class="navbar navbar-default">
   <% if user_signed_in? %>
   <p>
       Welcome, <%= current_user.username %>
       <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<%# link below takes you to current users edit profile page %>
       <%= link_to 'Edit Profile', "/user_profiles/#{current_user.user_profile.id}/edit" %>
        <%= link_to 'My Jobs', "/user_profiles/#{current_user.user_profile.id}/my_jobs"  %>
   </p>
   <% else %>
        <%= link_to "Login", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
   <% end %>



  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><%= link_to "Login", new_user_session_path %></li>
      <li><a href="#">Page 2</a></li>
      <% else %>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <li><%= link_to "Sign Up", new_user_registration_path %></li>
       <% end %>
    </ul>
  </div>
</nav>