<nav>
   <% if user_signed_in? %>
   <p>
       Welcome, <%= current_user.email %>
       <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
<%# link below takes you to current users edit profile page %>
       <%= link_to 'Edit Profile', "/user_profiles/#{current_user.user_profile.id}/edit" %>
   </p>
   <% else %>
        <%= link_to "Login", new_user_session_path %>
   <% end %>

   <%= link_to "Home", root_path %>
   <%= link_to "View All Jobs", jobs_path %>
   <%= link_to 'New Job', new_job_path %>
</nav>