<%= form_with(model: user_profile, local: true) do |form| %>
  <% if user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
      <% user_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%# need to link up active storage first %>
  <%# <div class="field"> %>
    <%# <%= form.label :image %> 
    <%# <%= form.file_field :image %> 
  <%# </div> %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <div class="field">
    <%= form.label :contact %>
    <%= form.text_field :contact %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :suburb %>
    <%= form.text_field :suburb %>
  </div>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.text_field :postcode %>
  </div>

<%# the next two lines is for trades people only and will only need filling if the user wishes to accept a job. so if these field == nil at the time of accepting a job they will need to fill these in.%>

<%# if statement will only let them edit this field if it is not nil %>
  <% if current_user.user_profile.abn != nil && current_user.user_profile.insurance != nil %>
    <p>You have Tradie status</p>
    <div class="field">
        <%= form.label :abn %>
        <%= form.text_field :abn %>
    </div>

    <div class="field">
        <%= form.label :insurance %>
        <%= form.text_field :insurance %>
    </div>
  <% end  %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
