<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_profile.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user_profile.bio %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @user_profile.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_profile.user.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user_profile.street %>, <%= @user_profile.suburb %>, <%= @user_profile.postcode %>
</p>

<% if current_user.id == @user_profile.user.id %>
<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> 
<% end %>

