<h1>We require the following before you can accept a job</h1>
<%= form_with(model: user_profile, local: true) do |form| %>
  <% if user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_profile.errors.count, "error") prohibited this user_profile from being saved:</h2> %>

      <ul>
      <% @user_profile.errors.full_messages.each do |message| %>
        <li><%= message</li> %>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
        <%= form.label :abn %>
        <%= form.text_field :abn, :required => true %>
    </div>

    <div class="field">
        <%= form.label :insurance %>
        <%= form.text_field :insurance, :required => true %>
    </div>

    <div class="actions">
        <%= form.submit
    </div> %>
<% end %>