<!DOCTYPE html>
<html>
  <head>
    <title>TradeUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= favicon_link_tag asset_path('tradeup_favicon.png'), :rel => 'icon', :type =>  'image/png' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= link_to "Become a Tradie", edit_user_profile_path(current_user.user_profile.id, :abn_insurance => 0) %>
    <%= yield %>
  </body>
</html>
